extends layout.pug

block extralink
  link(rel="stylesheet" href="/style.css")

block extrascript
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
  script(src="/client.js" defer)
  
block main
  h1 Precinct #{arr.precinct}
  h3 Not yet voted
  div.row.font-weight-bold
    div.col-4 Name
    div.col-4 Address
    div.col-4 Phone
  hr
  each item, i in arr
    div(id="section" + (i + 1))
      if !item.voted
        div.font-weight-bold
          button.far.fa-times-circle(id=(item._id) data-pollwatcher=pollwatcher)
        div.row
          div.col-4=item.firstname + " " + item.lastname
          div.col-4=item.address
          div.col-4=item.phone
        hr
  br

  h3 Already Voted
  div.row.font-weight-bold
    div.col-4 Name
    div.col-3 Address
    div.col-2 Phone
    div.col-3 Date/Time
  hr
  each item, i in arr
    if item.voted
      div.row
        div.col-4=item.firstname + " " + item.lastname
        div.col-3=item.address
        div.col-2=item.phone
        div.col-3=item.date
      hr